<!-- Check the variable that indicates whether this is an archived doc set.
  If yes, display a banner. -->
  {{ if .Site.Params.archived_version }}
  {{ $color := "primary" }}
  {{ $latest := .Site.Params.url_latest_version }}
  <div class="pageinfo pageinfo-{{ $color }}">
    {{ with .Site.Params.version }}<p>Version {{ . | markdownify }} of the
      documentation is no longer actively maintained. The site that you are
      currently viewing is an archived snapshot. For up-to-date documentation,
      see the 
      <a href="{{ $latest | safeURL }}" target="_blank">latest version</a>.</p>
    {{ end }}
  </div>
{{ end }}